@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-vkrzy0');
	src:url('fonts/icomoon.eot?#iefix-vkrzy0') format('embedded-opentype'),
		url('fonts/icomoon.woff?-vkrzy0') format('woff'),
		url('fonts/icomoon.ttf?-vkrzy0') format('truetype'),
		url('fonts/icomoon.svg?-vkrzy0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
	content: "\e600";
}
.icon-box-add:before {
	content: "\e601";
}
.icon-github2:before {
	content: "\e603";
}
