gray-dark = #555
gray = #888
gray-light = #bbb
gray-lighter = #eee
gray-bg = #fcfcfc

blue = #52a0c7
blue-light = tint(blue, 20%)
blue-dark = shade(blue, 20%)
orange = #cf754f
red = #d24148

::selection
  background blue
  color #fff
::-moz-selection
  background blue
  color #fff

btn(background = blue)
  shadow-height = 2px
  background background
  color #fff
  padding 5px 10px
  text-align center
  user-select none
  cursor pointer
  display inline-block
  position relative
  box-shadow 0 shadow-height darken(background, 20%)
  &:active
    box-shadow none
    transform translateY(shadow-height)

gray-section()
  background gray-bg
  border-top 1px solid gray-lighter
  border-bottom 1px solid gray-lighter

*
  box-sizing border-box

html, body
  height 100%

body
  color gray-dark
  font-size 16px
  font-family Lato, sans-serif

a
  color blue
  transition color .25s
  text-decoration none
  &:hover
    color blue-dark

pre
  padding 5px 10px
  border 1px solid gray-lighter
  &:last-child
    margin-bottom 0
  code
    background transparent !important
    language-tag(language)
      position relative
      &:after
        content language
        absolute top 8px right 8px
        color gray-lighter
        font-style italic
        font-family Lato, sans-serif
        line-height 1
        transition color .25s
      &:hover
        &:after
          color gray
    &.html
      language-tag('HTML')
    &.css
      language-tag('CSS')
    &.javascript
      language-tag('JavaScript')

@keyframes bounce
  0%, 80%, 100%
    transform scale(0)
  40%
    transform scale(1)

.spinner
  absolute top 50% left 50%
  transform translate(-50%, -50%)
  > .spinner-dot
    size 15px
    background rgba(gray-dark, .5)
    border-radius 50%
    display inline-block
    margin 0 5px
    animation bounce 1.4s infinite ease-in-out
    animation-fill-mode both
    &:nth-child(1)
      animation-delay -.32s
    &:nth-child(2)
      animation-delay -.16s

.splash, .demos .demo-wrapper
  .cropit-image-background
    opacity .2
  .cropit-image-preview
    position relative
    .spinner
      opacity 0
      transition opacity 1s
    &.cropit-image-loading
      .spinner
        opacity 1
    &.cropit-image-loaded
      cursor move
    .error-msg
      absolute top left
      width 100%
      padding 10px 20px
      color #fff
      background rgba(red, .8)
      line-height 1.5
      opacity 0
      transition opacity .25s
    &.has-error
      .error-msg
        opacity 1
  .slider-wrapper
    transition opacity .25s
    &.disabled
      opacity .2
    *
      vertical-align middle
    .small-image
      font-size 16px
    .large-image
      font-size 24px
    .cropit-image-zoom-input
      width 130px
      margin 0 20px
      position relative
      &.custom
        slider()
          appearance none
          height 5px
          background gray-lighter
          border-radius 5px
          outline none
        slider-thumb()
          appearance none
          size 15px
          background gray
          border-radius 50%
          transition background .25s
          &:active
            background gray-light
        slider()
        &::-moz-range-track
          slider()
        &::-webkit-slider-thumb
          slider-thumb()
        &::-moz-range-thumb
          slider-thumb()
  .btns
    .cropit-image-input
      &.custom
        visibility hidden
        absolute top left
        size 1px 1px
    .btn
      .icon
        margin-right 10px
    .select-image-btn
      btn(blue)
    .download-btn
      btn(orange)

.splash
  title-height = 70px
  controls-height = 70px
  min-preview-height = 450px

  height 100%
  min-height title-height + min-preview-height + 50px + controls-height
  padding-top title-height
  padding-bottom controls-height
  position relative

  .title-wrapper
    absolute top left
    size 100% title-height
    background gray-bg
    border-bottom 1px solid gray-lighter
    text-align center
    line-height title-height
    .title, .tagline, .github-link
      display inline
      &:nth-child(n+2)
        margin-left 20px
    .title
      font-size 40px
      margin 0
      font-style italic
    .tagline
      font-size 20px
      font-weight 300
    .github-link
      .icon
        margin-right 5px

  .demo-wrapper
    height 100%
    position relative
    overflow hidden
    .preview-wrapper
      absolute top 50% left 50%
      transform translate(-50%, -50%)
      .cropit-image-preview
        size min-preview-height
        border 1px solid gray-lighter
      .slider-wrapper
        margin-top 20px
        text-align center

  .btns-wrapper
    absolute bottom left
    size 100% controls-height
    gray-section()
    text-align center
    padding ((controls-height - 30px) / 2)
    .download-btn
      margin-left 20px

section
  padding 60px 0
  h3
    font-style italic
  .container
    width 840px
    margin 0 auto
    > .title
      margin 0 0 20px
    > .content
      p, ul
        line-height 1.5
      p:last-child, ul:last-child
        margin-bottom 0
  .sub-section
    padding 40px 0
    overflow hidden
    border-bottom 1px solid gray-lighter
    &:nth-child(2)
      padding-top 0
    &:last-child
      padding-bottom 0
      border-bottom none

section.getting-started
  gray-section()

section.demos
  .demo-wrapper
    overflow hidden
    > .container
      .demo
        clearfix()
        .column
          float left
          &:nth-child(1)
            width 600px
            padding-right 40px
            .cropit-image-preview
              size 560px 176px
              border 1px solid gray-lighter
            .slider-wrapper
              margin-top 20px
              text-align center
          &:nth-child(2)
            width 240px
            .cropit-image-input:not(.custom)
              display block
              width 100%
            .btn
              display block
              &.download-btn
                margin-top 10px
      .code
        > .html, > .javascript, > .css
          margin-top 20px
          pre
            background #fff
            position relative

section.docs
  gray-section()

  .options
    .option
      margin 30px 0
      &:last-child
        margin-bottom 0
      .name, .type
        display inline-block
      .name
        color orange
        font-family monospace
        font-size 20px
      .type
        margin-left 20px
        color gray
        font-style italic
      .description, .default
        margin-top 10px
        line-height 1.5
      .default
        &:before
          content 'Default:'
          margin-right 10px
          color gray
          font-style italic

footer
  padding 60px 0
  text-align center
  font-weight 300
  a
    margin 0 10px
    .icon
      margin-right 5px
  &, a
    color gray-light
  &:hover
    &, a
      color gray
