section.getting-started#getting-started
  .container
    h2.title Getting started

    .content
      p
        | Install with 
        a(href='http://bower.io/' target='_blank') Bower
        | :
      pre: code.bash $ bower install cropit
      p
        | Or with 
        a(href='https://www.npmjs.org/', target='_blank') npm
        | :
      pre: code.bash $ npm install cropit
