section.what-it-is#what-it-is
  .container
    h2.title What it is

    .content
      ul
        li
          | A jQuery plugin for image cropping and zooming.
        li
          | Loads images locally via 
          a(href='https://developer.mozilla.org/en-US/docs/Web/API/FileReader' target='_blank') FileReader
          | , and crops them using 
          a(href='https://developer.mozilla.org/en-US/docs/Web/HTML/Canvas' target='_blank') canvas
          | .
        li
          | Designed to be extremely customizable via CSS.
        li
          | Best for the cases where you want users to upload images of a specific size and aspect ratio.

      h3.title Features

      ul
        li
          | Works on desktop and mobile with touch support (
          a(href='http://caniuse.com/#feat=filereader' target='_blank') except IE 9 and below
          | ).
        li Drag'n'drop image into cropper.
        li Extensive options and APIs to give you full control.
