//- elements
.option#docs-options-preview
  .name $preview
  .type jQuery element
  .description
    :markdown
      The HTML element that displays image preview.
  .default: code $imageCropper.find('.cropit-image-preview')
.option#docs-options-fileInput
  .name $fileInput
  .type jQuery element
  .description
    :markdown
      File input element.
  .default: code $imageCropper.find('input.cropit-image-input')
.option#docs-options-zoomSlider
  .name $zoomSlider
  .type jQuery element
  .description
    :markdown
      Range input element that controls image zoom.
  .default: code $imageCropper.find('input.cropit-image-zoom-input')
.option#docs-options-previewContainer
  .name $previewContainer
  .type jQuery element
  .description
    :markdown
      Preview container. Only needed when `imageBackground` is true.
  .default: code $imageCropper.find('.cropit-image-preview-container')

//- values
.option#docs-options-width
  .name width
  .type number
  .description
    :markdown
      Width of image preview in pixels. If set, it will override the CSS property.
  .default: code null
.option#docs-options-height
  .name height
  .type number
  .description
    :markdown
      Height of image preview in pixels. If set, it will override the CSS property.
  .default: code null
.option#docs-options-imageBackground
  .name imageBackground
  .type boolean
  .description
    :markdown
      Whether or not to display the background image beyond the preview area.
  .default: code false
.option#docs-options-imageBackgroundBorderWidth
  .name imageBackgroundBorderWidth
  .type array or number
  .description
    :markdown
      Width of background image border in pixels.
        The four array elements specify the width of background image width on the top, right, bottom, left side respectively.
        The background image beyond the width will be hidden.
        If specified as a number, border with uniform width on all sides will be applied.
  .default: code [0,0,0,0]
.option#docs-options-exportZoom
  .name exportZoom
  .type number
  .description
    :markdown
      The ratio between the desired image size to export and the preview size.
        For example, if the preview size is `300px * 200px`, and `exportZoom = 2`, then
        the exported image size will be `600px * 400px`.
        This also affects the maximum zoom level, since the exported image cannot be zoomed to larger than its original size.
  .default: code 1
.option#docs-options-allowDragNDrop
  .name allowDragNDrop
  .type boolean
  .description
    :markdown
      When set to true, you can load an image by dragging it from local file browser onto the preview area.
  .default: code true
.option#docs-options-minZoom
  .name minZoom
  .type string
  .description
    :markdown
      This options decides the minimal zoom level of the image.
        If set to `'fill'`, the image has to fill the preview area, i.e. both width and height must not go smaller than the preview area.
        If set to `'fit'`, the image can shrink further to fit the preview area, i.e. at least one of its edges must not go smaller than the preview area.
  .default: code 'fill'
.option#docs-options-maxZoom
  .name maxZoom
  .type number
  .description
    :markdown
      Determines how big the image can be zoomed. E.g. if set to 1.5, the image can be zoomed to 150% of its original size.
  .default: code 1
.option#docs-options-initialZoom
  .name initialZoom
  .type string
  .description
    :markdown
      Determines the zoom when an image is loaded.
        When set to `'min'`, image is zoomed to the smallest when loaded.
        When set to `'image'`, image is zoomed to 100% when loaded.
  .default: code 'min'
.option#docs-options-freeMove
  .name freeMove
  .type boolean
  .description
    :markdown
      When set to true, you can freely move the image instead of being bound to the container borders
  .default: code false
.option#docs-options-smallImage
  .name smallImage
  .type string
  .description
    :markdown
      When set to `'reject'`, `onImageError` would be called when cropit loads an image that is smaller than the container.
        When set to `'allow'`, images smaller than the container can be zoomed down to its original size, overiding `minZoom` option.
        When set to `'stretch'`, the minimum zoom of small images would follow `minZoom` option.
  .default: code 'reject'
.option#docs-options-allowCrossOrigin
  .name allowCrossOrigin
  .type boolean
  .description
    :markdown
      Set to true if you need to crop image served from other domains.
  .default: code false

//- callbacks
.option#docs-options-onFileChange
  .name onFileChange
  .type function
  .description
    :markdown
      Called when user selects a file in the select file input.
  .param
    :markdown
      `{object} event` - File change event object
.option#docs-options-onFileReaderError
  .name onFileReaderError
  .type function
  .description
    :markdown
      Called when `FileReader` encounters an error while loading the image file.
.option#docs-options-onImageLoading
  .name onImageLoading
  .type function
  .description
    :markdown
      Called when image starts to be loaded.
.option#docs-options-onImageLoaded
  .name onImageLoaded
  .type function
  .description
    :markdown
      Called when image is loaded.
.option#docs-options-onImageError
  .name onImageError
  .type function
  .description
    :markdown
      Called when image cannot be loaded.
  .param
    :markdown
      `{object} error` - Error object.
  .param
    :markdown
      `{number} error.code` - Error code. `0` means generic image loading failure. `1` means image is too small.
  .param
    :markdown
      `{string} error.message` - A message explaining the error.
.option#docs-options-onZoomEnabled
  .name onZoomEnabled
  .type function
  .description
    :markdown
      Called when image the zoom slider is enabled.
.option#docs-options-onZoomDisabled
  .name onZoomDisabled
  .type function
  .description
    :markdown
      Called when image the zoom slider is disabled.
.option#docs-options-onZoomChange
  .name onZoomChange
  .type function
  .description
    :markdown
      Called when zoom changes.
  .param
    :markdown
      `{number} zoom` - New zoom.
.option#docs-options-onOffsetChange
  .name onOffsetChange
  .type function
  .description
    :markdown
      Called when image offset changes.
  .param
    :markdown
      `{object} offset` - New offset, with `x` and `y` values.

