doctype html
html
  head
    title cropit

    meta(name='description', content='Easy crop and zoom')
    meta(charset='utf-8')

    link(rel='stylesheet', href='styles/index.css')

  body

    h1 cropit

    script(src='scripts/vendor.js')
    script(src='scripts/index.js')
