mixin spinner
  .spinner
    .spinner-dot
    .spinner-dot
    .spinner-dot

doctype html
html
  head
    title cropit | a "customizable crop and zoom" jQuery plugin

    meta(name='description' content='A "customizable crop and zoom" jQuery plugin.')
    meta(charset='utf-8')

    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Lato:300,300i,400,400i,700')

    link(rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/tomorrow.min.css')

    link(rel='stylesheet' href='styles/index.css')

  body

    .splash

      .title-wrapper
        h1.title cropit
        .tagline a "customizable crop and zoom" jQuery plugin
        .github-link
          a(href='https://github.com/scottcheng/cropit')
            span.icon.icon-github2
            | GitHub

      .demo-wrapper
        .preview-wrapper
          .cropit-image-preview-container
            .cropit-image-preview
              +spinner
          .slider-wrapper
            span.icon.icon-image.small-image
            input.cropit-image-zoom-input.custom(type='range')
            span.icon.icon-image.large-image

      .btns-wrapper
        .btns
          input.cropit-image-input.custom(type='file')
          .btn.select-image-btn
            span.icon.icon-image
            | Select new image
          .btn.download-btn
            span.icon.icon-box-add
            | Download cropped image

    section.what-it-is#what-it-is
      .container
        h2.title What it is

        .content
          ul
            li
              | A jQuery plugin for image cropping and zooming.
            li
              | Loads images locally via 
              a(href='https://developer.mozilla.org/en-US/docs/Web/API/FileReader' target='_blank') FileReader
              | , and crops them using 
              a(href='https://developer.mozilla.org/en-US/docs/Web/HTML/Canvas' target='_blank') canvas
              | .
            li
              | Designed to be extremely customizable via CSS.
            li
              | Best for the cases where you want users to upload images of a specific size and aspect ratio.

          h3.title Features

          ul
            li Works on desktop and mobile with touch support (except IE 9 and below).
            li Drag'n'drop image into cropper.
            li Extensive options and APIs to give you full control.

    section.getting-started#getting-started
      .container
        h2.title Getting started

        .content
          p
            | Install with 
            a(href='http://bower.io/' target='_blank') Bower
            | :
          pre: code.bash $ bower install cropit
          p
            | Or with 
            a(href='https://www.npmjs.org/', target='_blank') npm
            | :
          pre: code.bash $ npm install cropit

    section.demos#demos

      .title-wrapper
        .container
          h2.title Demos

      .sub-section.demo-wrapper.basic#demos-basic
        .container
          h3.title Basic image cropper
          .demo
            .column
              .cropit-image-preview
                +spinner
              .slider-wrapper
                span.icon.icon-image.small-image
                input.cropit-image-zoom-input(type='range')
                span.icon.icon-image.large-image
            .column
              .btns
                input.cropit-image-input(type='file')
                .btn.download-btn
                  span.icon.icon-box-add
                  | Download cropped image
          .code
            .html
              :htmlsrc
                <!-- This wraps the whole cropper -->
                <div id="image-cropper">
                  <!-- This is where the preview image is displayed -->
                  <div class="cropit-image-preview"></div>

                  <!-- This range input controls zoom -->
                  <!-- You can add additional elements here, e.g. the image icons -->
                  <input type="range" class="cropit-image-zoom-input" />

                  <!-- This is where user selects new image -->
                  <input type="file" class="cropit-image-input" />

                  <!-- The cropit- classes above are needed
                       so cropit can identify these elements -->
                </div>

            .javascript
              :jssrc
                $('#image-cropper').cropit();

                // In the demos I'm passing in an imageState option
                // so it renders an image by default:
                // $('#image-cropper').cropit({ imageState: { src: { imageSrc } } });

            .css
              :csssrc
                .cropit-image-preview {
                  /* You can specify preview size in CSS */
                  width: 960px;
                  height: 540px;
                }

      .sub-section.demo-wrapper.custom-button#demos-custom-button
        .container
          h3.title Custom select image button and zoom slider
          .demo
            .column
              .cropit-image-preview
                +spinner
              .slider-wrapper
                span.icon.icon-image.small-image
                input.cropit-image-zoom-input.custom(type='range')
                span.icon.icon-image.large-image
            .column
              .btns
                input.cropit-image-input.custom(type='file')
                .btn.select-image-btn
                  span.icon.icon-image
                  | Select new image
                .btn.download-btn
                  span.icon.icon-box-add
                  | Download cropped image
          .code
            .html
              :htmlsrc
                <div id="image-cropper">
                  <div class="cropit-image-preview"></div>

                  <input type="range" class="cropit-image-zoom-input" />

                  <!-- The actual file input will be hidden -->
                  <input type="file" class="cropit-image-input" />
                  <!-- And clicking on this button will open up select file dialog -->
                  <div class="select-image-btn">Select new image</div>
                </div>
            .javascript
              :jssrc
                $('#image-cropper').cropit();

                // When user clicks select image button,
                // open select file dialog programmatically
                $('.select-image-btn').click(function() {
                  $('.cropit-image-input').click();
                });
            .css
              :csssrc
                /* Hide file input */
                input.cropit-image-input {
                  visibility: hidden;
                }

                /*
                 * See http://www.htmllion.com/html5-range-input-with-css.html
                 * for styling range input
                 */

      .sub-section.demo-wrapper.image-background#demos-image-background
        .container
          h3.title Image cropper with background
          .demo
            .column
              .cropit-image-preview-container
                .cropit-image-preview
                  +spinner
              .slider-wrapper
                span.icon.icon-image.small-image
                input.cropit-image-zoom-input.custom(type='range')
                span.icon.icon-image.large-image
            .column
              .btns
                input.cropit-image-input.custom(type='file')
                .btn.select-image-btn
                  span.icon.icon-image
                  | Select new image
                .btn.download-btn
                  span.icon.icon-box-add
                  | Download cropped image
          .code
            .html
              :htmlsrc
                <div id="image-cropper">
                  <!-- The preview container is needed for background image to work -->
                  <div class="cropit-image-preview-container">
                    <div class="cropit-image-preview"></div>
                  </div>

                  <input type="range" class="cropit-image-zoom-input" />

                  <input type="file" class="cropit-image-input" />
                  <div class="select-image-btn">Select new image</div>
                </div>
            .javascript
              :jssrc
                $('#image-cropper').cropit({ imageBackground: true });
            .css
              :csssrc
                /* Translucent background image */
                .cropit-image-background {
                  opacity: .2;
                }

                /*
                 * If the slider or anything else is covered by the background image,
                 * use relative or absolute position on it
                 */
                input.cropit-image-zoom-input {
                  position: relative;
                }

                /* Limit the background image by adding overflow: hidden */
                #image-cropper {
                  overflow: hidden;
                }

      .sub-section.demo-wrapper.image-background-border#demos-image-background-border
        .container
          h3.title Image cropper with thin background border
          .demo
            .column
              .cropit-image-preview-container
                .cropit-image-preview
                  +spinner
              .slider-wrapper
                span.icon.icon-image.small-image
                input.cropit-image-zoom-input.custom(type='range')
                span.icon.icon-image.large-image
            .column
              .btns
                input.cropit-image-input.custom(type='file')
                .btn.select-image-btn
                  span.icon.icon-image
                  | Select new image
                .btn.download-btn
                  span.icon.icon-box-add
                  | Download cropped image
          .code
            .html
              :htmlsrc
                <div id="image-cropper">
                  <div class="cropit-image-preview-container">
                    <div class="cropit-image-preview"></div>
                  </div>

                  <input type="range" class="cropit-image-zoom-input" />

                  <input type="file" class="cropit-image-input" />
                  <div class="select-image-btn">Select new image</div>
                </div>
            .javascript
              :jssrc
                $('#image-cropper').cropit({
                  imageBackground: true,
                  imageBackgroundBorderWidth: 15 // Width of background border
                });

    section.docs#docs

      .title-wrapper
        .container
          h2.title Documentation

      .sub-section.doc-wrapper.options#docs-options
        .container
          h3.title Initialization options

          :jssrc
            $imageCropper.cropit(options);

          include _options

      .sub-section.doc-wrapper.methods#docs-apis
        .container
          h3.title APIs

          :jssrc
            // Returns the cropped image in Data URI format.
            // The second argument `options` takes the following keys:
            // - [type='image/png'] exported image type.
            // - [quality=.75] exported image quality, only works when type is
            //     'image/jpeg' or 'image/webp'.
            // - [originalSize=false] when set to true, export cropped part in
            //     original size, overriding exportZoom.
            // - [fillBg='#fff'] if `type` is 'image/jpeg', this color will be
            //     filled as the background of the exported image.
            $imageCropper.cropit('export', {
              type: 'image/jpeg',
              quality: .9,
              originalSize: true
            });

            // Returns whether the current image is big enough to be zoomable.
            // Note that an image cannot be zoomed to larger than its original size.
            $imageCropper.cropit('isZoomable');

            // Returns the source of current image.
            // If the image is loaded through the file input, the image source will be
            // in Data URI format.
            $imageCropper.cropit('imageSrc');

            // Sets image source.
            $imageCropper.cropit('imageSrc', 'http://placekitten.com/g/1280/800');

            // Returns the current image size.
            // E.g. { width: 1920, height: 1080 }
            $imageCropper.cropit('imageSize');

            // Returns the current preview area size.
            // E.g. { width: 600, height: 400 }
            $imageCropper.cropit('previewSize');

            // Sets preview area size.
            $imageCropper.cropit('previewSize', { width: 800, height: 450 });

            // Returns the image offset of the current cropping.
            // E.g. { x: -10, y: -15 }
            $imageCropper.cropit('offset');

            // Sets image offset.
            $imageCropper.cropit('offset', { x: -18, y: -54 });

            // Returns the current zoom.
            $imageCropper.cropit('zoom');

            // Sets image zoom.
            $imageCropper.cropit('zoom', .75);

            // Disables the cropper.
            // Unbinds event listeners from preview, zoom slider and file input, and
            // adds `cropit-disabled` class to `$imageCropper`.
            $imageCropper.cropit('disable');

            // Re-enables the cropper.
            // Does the opposite to `disable` method.
            $imageCropper.cropit('reenable');

      .sub-section.doc-wrapper.styles#docs-styles
        .container
          h3.title Styling with CSS

          :htmlsrc
            <!-- Cropper preview without background image -->
            <!-- Preview image is displayed using background-image on preview -->
            <div class="cropit-image-preview"></div>

            <!-- Cropper preview with background image -->
            <!-- Preview container is relative positioned -->
            <!-- Add a wrapper if you need to absolute position it -->
            <div class="cropit-image-preview-container">
              <!-- Background image container is absolute positioned -->
              <div class="cropit-image-background-container">
                <!-- Background image is absolute positioned -->
                <img class="cropit-image-background" />
              </div>
              <div class="cropit-image-preview"></div>
            </div>

            <!-- Zoom slider -->
            <input type="range" class="cropit-image-zoom-input" />

            <!-- File selector ->
            <!-- cropit will add accept="image/*" attribute to it -->
            <input type="file" class="cropit-image-input" />

          :csssrc
            /* Show load indicator when image is being loaded */
            .cropit-image-preview.cropit-image-loading .spinner {
              opacity: 1;
            }

            /* Show move cursor when image has been loaded */
            .cropit-image-preview.cropit-image-loaded {
              cursor: move;
            }

            /* Gray out zoom slider when the image cannot be zoomed */
            .cropit-image-zoom-input[disabled] {
              opacity: .2;
            }

            /* Hide default file input button if you want to use a custom button */
            input.cropit-image-input {
              visibility: hidden;
            }

            /* The following styles are only relevant to when background image is enabled */

            /* Translucent background image */
            .cropit-image-background {
              opacity: .1;
            }

            /* Style the background image differently when preview area is hovered */
            .cropit-image-background.cropit-preview-hovered {
              opacity: .2;
            }

            /*
             * If the slider or anything else is covered by the background image,
             * use non-static position on it
             */
            input.cropit-image-zoom-input {
              position: relative;
            }

            /* Limit the background image by adding overflow: hidden */
            #image-cropper {
              overflow: hidden;
            }

    footer
      a(href='https://github.com/scottcheng/cropit')
        span.icon.icon-github2
        | Fork me on GitHub
      | |
      a(href='http://scottcheng.com/' target='_blank') Scott Cheng

    script(src='scripts/vendor.js')
    script(src='scripts/index.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js')
    script hljs.initHighlightingOnLoad();
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33401065-6', 'auto');
      ga('send', 'pageview');
